

    
    <!-- Page -->
    <div class="page-block">
        <!-- Section -->
        <div class="section-block">
            <!-- Text Cluster -->
            <div class="text-cluster">
                <h1>About us</h1>
                <p>Welcome to our company! We’re a locally owned and operated electrical contracting business proudly serving the Shoals area.
                With over 15 years of combined experience between myself and my partner, Barney Harville,
                we bring a solid foundation of knowledge, reliability, and dedication to every project.
                From residential wiring and panel upgrades to commercial installations and repairs,
                we’ve handled a wide range of electrical needs with precision and care</p>
            </div>
            <img src="templates/static/about us.jpg" class="img">

        </div>
        <!-- Section -->
        <div class="text-cluster"  style="margin-left: 0px">
            <h1>Our Mission</h1>
            <p> provide quality electrical services you can trust, backed by honest communication and a commitment to customer satisfaction.
                We believe in doing the job right the first time, staying up to code, and
                treating your property with the same respect we would our own.
                When you choose us, you're not just hiring electricians —
                you're partnering with professionals who care about your safety, your time, and your peace of mind.</p>
        </div>
    </div>