
    <!-- Page-block -->
    <div class="page-block">
        <!-- Left block -->
        <div class="left-block">
            <!-- Google Maps -->
            <div id="map" class="google-map"></div>

            <!-- Contact Information -->
            <div class="contact-information-block">
                <!-- Address Icon -->
                <div class="icon-block">
                    <img src="templates/static/icons/Location.png">
                    <h2>Location</h2>
                    <p>Muscle Shoals, AL 35661</p>
                </div>

                <!-- Phone Icon -->
                <div class="icon-block">
                    <img src="templates/static/icons/Phone.png">
                    <h2>Phone</h2>
                    <p>(256) 627-9818</p>
                </div>

                <!-- Mail Icon -->
                <div class="icon-block">
                    <img src="templates/static/icons/Mail.png">
                    <h2>Email</h2>
                    <p>bluffcreekelectric@gmail.com</p>
                </div>

                <!-- Social Icon -->
                <div class="icon-block">
                    <img src="templates/static/icons/Social.png">
                    <h2>Social Media</h2>
                    <a href="https://www.facebook.com/BluffCreekElectric"><img src="templates/static/icons/social/FaceBook.png" style="width:25px; height:25px;"></a>
                </div>
            </div>
        </div>

        <!-- Contact us form -->
        <div class="contact-block">

            <!-- Text -->
            <div class="text-cluster">
                <h1>Contact us!</h1>
                <p>Need electrical work or have questions?
                    Give us a call for more information about our services.
                    Whether it's a residential or commercial project, we're here to help.
                    You can also submit your project details through the form below, a
                    nd we'll get back to you as soon as possible.</p>
            </div>

            <!-- Form -->
            <form method="post" class="form-block">
                <!-- First Name -->
                <div class="data-block">
                    <label class="label-block">First Name</label>
                    <input class="input-block" type="text" name="first_name">
                </div>

                <!-- Last Name -->
                <div class="data-block">
                    <label class="label-block">Last Name</label>
                    <input class="input-block" type="text" name="last_name">
                </div>

                <!-- Email Address -->
                <div class="data-block">
                    <label class="label-block">Email Address*</label>
                    <input class="input-block" type="email" name="email" required>
                </div>

                <!-- Phone Number -->
                <div class="data-block">
                    <label class="label-block">Phone Number*</label>
                    <input class="input-block" type="tel" name="phone" required>
                </div>

                <!-- Description -->
                <div class="data-block" style="border:none;">
                    <label class="label-block">Description</label>
                    <textarea class="input-block description-block" name="description"></textarea>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="submit-btn">Submit</button>

            </form>
        </div>
    </div>

