<style>
        .page-block{
            display:flex;
            flex-direction:column;
            align-items:center;
        }
        .service-block{
            text-align: center;
            width: 50%;
            display:flex;
            flex-direction: column;
            margin-bottom: 150px;
        }

        .service-block p{
            font-size:large;
            font-family: OCR A Std, monospace
        }

        .facebook-block{
            display: flex;
            flex-direction: row;
            gap: 40px;
            justify-content: center;
            align-items: center;
            margin-top: 50px
        }
        .gallery-block{
            display: grid;
            gap: 40px;
            width: 364px;
            justify-content: center;
            place-items: center;
        }

        .post-block {
            padding: 30px;
            justify-content: end;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px solid white;
            border-radius: 50px;
            opacity: 0;
            grid-row: 1;
            grid-column: 1;
        }

        .post-block.show-post{
            opacity: 1;
            transition: ease 0.5s;
        }

        .btn {
            height: min-content;
            width: min-content;
            border-radius: 16px;
            padding: 10px;
            background-color: transparent;
            color: white;
            border: 2px solid white;
            font-size: x-large;
        }
    </style>